<!DOCTYPE html>
<html>
<head>
  <title>RailsManyToMany</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<hr>

<a href="/">home</a> <br>
<a href="/games">games</a> <br>  
<a href="/users">users</a> <br>  
<a href="/user_game_relationships">user_game_relationships</a> <br>  
 
<hr>


<%= yield %>

</body>
</html>
