<!--
<h1>StaticsPublic#index</h1>
<p>Find me in app/views/statics_public/index.html.erb</p>
 -->



<h1>Team Players</h1>
<%= render 'team_form' %>




<hr>
<h1>Single Player</h1>
<%= render 'singleplayer_form' %>

